# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=30000

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granularity for thread sleeps (10 ms by default).
#CONFIG_FREERTOS_HZ=1000

# Workaround for https://github.com/espressif/esp-idf/issues/7631
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# 启用 PSRAM
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
# 设置 PSRAM 的类型（XIAO S3 选这个）
CONFIG_SPIRAM_TYPE_ESP32S3=y
CONFIG_SPIRAM_SIZE=8388608

# 关键配置：允许系统通过标准的 malloc 自动分配 PSRAM
# 0: 只有显式调用时使用; 1: 内存不够时自动使用; 2: 优先使用 PSRAM
CONFIG_SPIRAM_USE_MALLOC=1
# 只有大于这个字节的对象才放进 PSRAM (防止频繁的小对象访问 PSRAM 变慢)
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4096
